@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #333;
    color: white;
    font-family: Inter;
    background-image: url("./images/React-icon.svg");
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: right;
    background-size: 20%;
    min-height: 80vh;
}