.myFlex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 120px;
    font-family: Poppins;
}
.myLinks > a{
    color: #61DAFB;
    text-decoration: none;
    padding-left: 20px;
    font-family: Poppins;
    font-size: 1.26em;
    transition: 1s ease all;
}
.myLinks > a:hover{
    text-decoration: underline;
    color: white;
}

.insideHeader{
    display: flex;
    align-items: center;
}
.insideHeader > h2{
    margin-left: 10px;
    color: #61DAFB;
}
.container{
    width: 60%;
    margin: 30px auto;

}
.container  li{
    list-style: none;
    margin-bottom: 10px;
}
.container li::before{
    content: "\2022";
    color: #61DAFB;
    font-weight: bold;
    display: inline-block;
    margin: 0 15px;
}
.container li:first-child{
    padding-top: 20px;
}
footer{
    position: fixed;
    height: 50px;
    border-top: 2px double white;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
}