.loader-body {
  background-color: #22222290;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

.loader-text {
  color: #fff;
  font-family: raleway;
}

.loader-section {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loader-shape {
  border: 1.5rem double white;
  height: 3.5rem;
  width: 3.5rem;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
